/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #07700a;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Sections */
  section {
    padding: 2em;
    background-color: #fff;
    margin: 1em auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  